@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: #23d3ac;
    background: url(
      https://assets.nflxext.com/ffe/siteui/vlv3/9db4a880-3034-4e98-bdea-5d983e86bf52/e4335016-34fb-4385-a3a1-c1e3d25d1c3f/AM-en-20230925-popsignuptwoweeks-perspective_alpha_website_large.jpg)
    center no-repeat;
    background-size: cover;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

}





#check:checked ~ .login {
    display: none;
}

#check {
    display: none;
}

.container .form {
    padding: 2rem;
}

.form header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

    .form input:focus {
        box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }

.form a {
    font-size: 16px;
    color: #009579;
    text-decoration: none;
}

    .form a:hover {
        text-decoration: underline;
    }

/* for btn */

button {
    margin: 10px 200px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    button:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }

    button:active {
        transform: scale(0.95);
    }


.signup {
    font-size: 25px;
    text-align: center;
   }

    .signup label {
        color: #009579;
        cursor: pointer;
     }

        .signup label:hover {
            text-decoration: underline;
        }


.registration {
    display: flex;
    width: 30%;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 35%;
    margin-top: 8%;
    padding: 33px;
    border: 1px solid #fff;
    border-radius: 15px;
    background: #FFFFFF;
}




/*    button{
    color: red;
    background: #009579;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
     }

    .form input.button:hover {
        background: #006653;
    }*/