
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/css/Display/Display.css")" />
    <meta name="viewport" content="width=device-width" />
    <title>DisplayIndex</title>
</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <div class="wrapper">
        <div class="parent" onclick="">
            <div class="child bg-one">
                <a href="#">Harry Poter</a>
            </div>
        </div>

        <div class="parent right" onclick="">
            <div class="child bg-two">
                <a href="#">Home Alone</a>
            </div>
        </div>

        <div class="parent" onclick="">
            <div class="child bg-three">
                <a href="#">Սահմանին</a>
            </div>
        </div>

        <div class="parent right" onclick="">
            <div class="child bg-four">
                <a href="#">Մի Վախեցիր</a>
            </div>
        </div>

        <div class="parent" onclick="">
            <div class="child bg-five">
                <a href="#">Divergent</a>
            </div>
        </div>

        <div class="parent right" onclick="">
            <div class="child bg-six">
                <a href="#">Avatar 3</a>
            </div>
        </div>
    </div>
</body>
</html>
