@using Moveis.ViewModel.Film
@model FilmDropDown
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilmFilter</title>
</head>
<body>
    <label href="@Url.Action("UserList", "Home")">Login</label>
    <form>
        <div>
            <label>
                <input asp-for =  "Name" />
            </label>
        </div>
        <div>
            <label>
                 <select>
                     <option>

                     </option>
                 </select>
            </label>
        </div>
    </form>
</body>
</html>
