@using Moveis.ViewModel.Film
@model FilmDropDown
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilmFilter</title>
</head>
<body>
    <form>
        <div>
            <label>
                <input asp-for =  "Name" />
            </label>
        </div>
        <div>
            <label>
                 <select ">
                     <option 
                 </select>
            </label>
        </div>
    </form>
</body>
</html>
