@using Moveis.ViewModel.Film
@model FilmAddEdit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> 
    <link rel="stylesheet" href="/css/site.css"/>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form action="">
        <input id="myInput" type="search" required>
        <i class="fa fa-search"> </i>
        <a @* href="javascript:void(0)" *@ class="clear" onclick="document.getElementById('myInput').value = ''" id="clear-btn" > Clear </a>
    </form>

</body>
</html>
